.timeline-book-group {
  background: white;
  border-radius: 15px;
  box-shadow: 0px 3px 8px #0000000D;
  box-sizing: border-box;
  color: #474747;
  display: flex;
  font: normal normal 300 24px/10px Assistant;
  height: 63px;
  letter-spacing: 0px;
  line-height: 33px;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 6px;
  position: absolute;
  right: 0px;
  text-align: right;
  text-decoration: none;
  text-overflow: ellipsis;
  top: 164px;
  white-space: nowrap;
}

.timeline-book-group__book {
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  color: #474747;
  direction: rtl;
  flex-grow: 1;
  flex-shrink: 1;
  font: normal normal 600 20px/51px Assistant;
  overflow: hidden;
  padding: 0px 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: 0.2s ease-in background-color;
  white-space: nowrap;
}

.timeline-book-group__book:hover {
  background-color: #F3F3F3;
}

@media (max-height: 1050px) {
  .timeline-book-group {
    top: 143px;
  }
}

@media (max-height: 800px) {
  .timeline-book-group {
    border-radius: 6px;
    font-size: 18px;
    height: 53px;
    top: 137px;
  }

  .timeline-book-group__book {
    font-size: 18px;
  }
}