.event-aside__content p {
  margin-bottom: 20px;
}

.event-aside__title {
  color: #474747;
  font: normal normal 600 42px/10px Assistant;
  letter-spacing: 0px;
  margin-bottom: 30px;
}

.event-aside__subtitle {
  color: #474747;
  font: normal normal normal 36px/33px Assistant;
  letter-spacing: 0px;
}

.event-aside__characters {
  direction: rtl;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.event-aside__character {
  margin-bottom: 25px;
}
.event__aside .aside__header img{
  width: 100%;
}
.event__aside .aside__header-img{
  position: absolute;
  top: 0px;
  width: 100%;
}
.event__aside .aside__header{
  height: 200px;
}
.aside__header-img{
  display: none;
}
@media screen and (max-width: 768px) {
  .event__aside .aside__content{
    padding: 0px 20px;
  }
  .event__aside .aside__header img{
    height: 200px;
  }
  .event__aside .aside__content .media-gallery{
      display: none;
  }
  .aside__header-img{
    display: block;
  }
  .event__aside  .aside__container {
    padding: 0px;
  }
  .event__aside .aside__title,
  .event__aside .aside__back{
    position: relative;
    z-index: 9999;
  }
  .event__aside .aside__back{
    right: 50px;
    top: 50px;
  }
  .event__aside .aside__header{
    position: relative;
  }
  .event__aside .aside__title{
    position: absolute;
    bottom: 0px;
    right: 20px;
  }
}